/LICENSE filter=lfs diff=lfs merge=lfs -text
/amazonlinuxplus/Dockerfile filter=lfs diff=lfs merge=lfs -text
/amazonlinuxplusopenjdk/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.Dockerfile filter=lfs diff=lfs merge=lfs -text
